header {
    background-color: #000;
}

.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.header__nav--link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}